*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    width: 300px;
    color: #fff;
    background-color: maroon;
}

div{
    background-color: brown;
    width: 300px;
    padding: 10px;
    color: #fff;
}
label{
    font-size: 1.2em;
}
.menu{
    display: flex;
    justify-content: center;
    font-size: 1.2em;

}